{% extends "base.html" %}

{% block content %}
    <h1>All Build-A-Blog Entries</h1>

    {% if posts|length == 0 %}
        <p>No entries yet, you be the first!</p>
    {% else %}
        <div class="all-posts">
    <ul>
            {% for post in posts %}
            <div class="post">
            <h2>
                <div class="title"><a href="/blog?id={{ post.id }}">{{ post.title }}</a></div></h2>
            
            <h3>
                <div class="post-body">{{ post.body }}</div>
                    
            </h3>    
                
            
            
            </div>
            {% endfor %}
        
    </ul>
        </div>
    {% endif %}

{% endblock %}