{% extends "base.html" %}


{% block content %} 
    <h1>Welcome to Build-A-Blog</h1>
    <h3>Where you can speak your mind with Tracey Cannon...</h3>

    <form action="/new_post" method="POST">
        <div>

            <label for="new_post_title"><h3>Title:</h3></label>

            <p>
                <input id="new_post_title" name="title" type="text" value="{{ new_post_title }}">
                <p class="error-message">{{ post_title_error }}</p>
            </p>

        </div>

        <div>
            <label for="new_post_body"><h3>Say what you'd like...</h3></label>

            <p>
                <textarea rows="10" cols="60" id="new_post_body" name="body" >{{ new_post_body }}</textarea>
                <p class="error-message">{{ post_body_error }}</p>
            </p>
        </div>

        <div class="actionButtons">
            <input id="submit_button" type="submit" value="Now Post!">
        </div>
    </form>
    
{% endblock %}