{% extends "base.html" %}

{% block content %}
    <h1>A Build-a-Blog Entry</h1>

        <div class="single-post">

    <ul>   
            
            <div class="post">
            <h2>
                <div class="title"><a href="/blog?id/{{ post.id }}">{{ post.title }}</a></div>
            </h2>
            <h3>
                <div class="post-body"><p>{{ post.body }}</p></div>

             
            </h3>

        
       




             </div>
            

    </ul>
        </div> 
    
    
{% endblock %}